extends layouts/site

block content

    +b('section').overview.overview-inside
        .container
            .row
                +e('h2') Обзоры товаров
            .row
                .col-12.col-sm-12.col-md-12.col-lg-5
                    +e('div').big-feed
                        +e('a').img-big-block(href="#" title="#")
                            +e('img').img-big(src="img/overview/overviewBig.png" alt="#")
                .col-12.col-sm-12.col-md-12.col-lg-7
                    +e('h3').big-title Супер няни: ТОП-5 детских кресел-качалок
                    +e('p').par Лучший способ развязать на время руки мамы в первые месяцы жизни малыша и чем-то занять Коляски-трости привлекают родителей тем, что мало весят, легко и быстро складываются, занимают минимум места при хранении и перевозке. Совершенствуются такие модели и в аспекте комфорта детей в возрасте от полугода до 3+ лет: сидения все чаще раскладываются почти до горизонтального положения, капюшоны удлиняются, предусматривается амортизация колес. Главное найти надежный, практичный и устраивающий по цене вариант. Сделать это поможет наша подборка, в которую вошли пять
                    +e('a').show-btn.button.button-blue(href="#" title="#") читать подробнее
                .col-12
                    .row
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView1.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView2.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView3.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView4.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView5.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView6.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов

                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView1.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView2.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView3.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView4.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView5.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов
                        .col-6.col-sm-4.col-md-4.col-lg-3
                            +e('a').small-card(href="#" title="#")
                                +e('div').img-small-block
                                    +e('img').img-small(src="img/overview/overView6.png" alt="#")
                                +e('span').desc-small Круговой обзор: ТОП-5 двухканальных видеорегистраторов

    +b('div').pagination
        +e('ul')
            +e('li').arrow-left
                +e('a').link#prev(href="#" title="назад") <
            +e('li').item.active
                +e('a').link(href="#" title="1")
                    +e('span') 1
            +e('li').item
                +e('a').link(href="#" title="2")
                    +e('span') 2
            +e('li').item
                +e('a').link(href="#" title="3")
                    +e('span') 3
            +e('li').item
                +e('a').link(href="#" title="4")
                    +e('span') 4
            +e('li').item
                +e('a').link(href="#" title="5")
                    +e('span') 5
            +e('li').arrow-right
                +e('a').link#next(href="#" title="вперед") >

    +b('section').subscribe#subscribe
        .container
            .row
                .col-12.col-sm-12.col-md-12.col-lg-6
                    +e('div').subscribe-social-block
                        +e('h3').title Подпишись на все лучшие цены от <span class="subscribe__title-shop" id="shop-calc">5 230</span> <span class="subscribe__title-shop-other">интернет-магазинов:</span>

                    +e('form').form(action="#" name="subscribe" id="subscribeForm")
                        +e('h3').title-sucsess#subscrSuccsess Вы успешно подписались
                        +e('input').email.input-default(required type="email" name="emailaddress" id="email" placeholder="Введите свой e-mail")
                        +e('button').btn-subsc.button.button-yellow(id="sucsessBtn" type="submit" value="подписаться") подписаться

                    +b('div').social-entry
                        +e('h4').title Через соцсети:
                        +e('ul').social-block
                          <div data-mobile-view="true" data-share-size="40" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1844693" data-mode="share" data-background-color="#ffffff" data-share-shape="round" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.tm.vb." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal" data-following-enable="false" data-sn-ids="fb.vk.tw.ok.wh.tm.vb." data-preview-mobile="false" data-selection-enable="true" data-exclude-show-more="false" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>

                .col-12.col-sm-12.col-md-12.col-lg-6
                    +b('div').shop-add
                        .row
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand2.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand3.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand4.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand5.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand6.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand7.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card(href="#" title="#")
                                    +e('img').img(src="img/theme/shop/brand8.png" alt="#")
                            .col-6.col-sm-4.col-md-4.col-lg-4
                                +e('a').shop-card.shop-add__shop-card-no-border(href="#addShop" title="#")
                                    +e('span').add +
                                    +e('span').add-shop-link Подключить магазин
    +b('section').service#service
        .container
            .row
                +e('h3').title Сервис поиска товаров и цен
                +e('p').desc-title Сервис SravniPrice.ru ищет лучшие цены на все, что продается в Москве. Здесь можно сравнить цены на 23 млн товаров и среди 6 тысяч магазинов выбрать именно тот, который предлагает самую низкую стоимость. SravniPrice.ru ежедневно собирает 100 000 скидок и 5000 промокодов со всех интернет-магазинов, чтобы купить выгодно.
                +e('p').desc Мы не продаём товары и не организовываем их доставку, мы работаем для того, чтобы покупатель мог быстро и удобно найти самое выгодное предложение. Для тех, кто определяется с выбором, в каждом разделе есть подбор по параметрам и возможность сравнить товары между собой. Доступен и удобный текстовый поиск, позволяющий искать как нужные разделы, так и конкретные товары по названию. А на странице каждой модели есть подробная информация, которая поможет принять решение: описание, технические характеристики, фото и видео, полезные ссылки и отзывы. Там же находится блок «Где купить?» со списком интернет-магазинов, ценами и прямыми ссылками на страницу покупкию
                +e('p').desc К системе SravniPrice.ru подключено более 1000 магазинов, данные по которым постоянно обновляются. Благодаря этому вы сможете не только выбрать подходящий товар, но и купить его по самым выгодным условиям!
